<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <title>數學運算</title>
</head>
<body>
    <h2>數學運算</h2>
    <form action="#" method="post">
        請輸入 x：
        <input type="number" name="x">
        <br><br>
        請選擇運算符號：
        <select name="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <br><br>
        請輸入 y：
        <input type="number" name="y">
        <br><br>
        <input type="submit" value="計算">
    </form>

</body>
</html>